<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Citata</h1>

  <p>
    Citata was built by <a target="_blank" href="http://fisto.blog">Fisto</a> who is now learning about web development with <a target="_blank" href="http://www.thefirehoseproject.com/">the Firehose Project</a>. He likes to draw comics and play music. Currenly he works and lives in Doha, Qatar, with his wife and 2 children. 
  </p>
  <br />

  <div class="col-xs-10 col-sm-4">
    <%= image_tag 'fisto.png', class: 'img-responsive' %>
  </div>

  <p>
    This application was one of the assignments from the Firehose Project to introduce its students about the fundamentals of Web Development using HTML, CSS and Ruby. 
  </p>

  <p>
    While not working or sleeping, Fisto can be found running at Al-Arabi Stadiums every Friday morning or Thursday afternoon. He likes photography, too!
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />